body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
:root {
  --color-hh: #4d5ae5;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}

.logo-style {
  color: #2e2f42;
}
.list {
  list-style: none;
  color: #434455;
}

.list-team {
  background-color: #ffffff;
}
.list-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.list-nav:hover,
:focus {
  color: #404bbf;
}
.link:hover,
:focus {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  color: #434455;
}
.address:hover,
:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}
.main-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */

  color: #ffffff;
}
.main-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.main-button:focus,
:hover {
  background-color: #404bbf;
}
.team-li {
  background-color: #ffffff;
}
.list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
.work-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.team {
  background-color: #f4f4fd;
}
.our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
.logo-styles {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CLOUD */

  color: #f4f4fd;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.04em;

  /* IRIS */

  color: #4d5ae5;
  border: none;
  cursor: pointer;
}
.button:hover,
:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.button:focus {
  background-color: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-hh);
  color: #4d5ae5;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #434455;
}
.link-address {
  color: #434455;
}
.link-adr {
  color: #434455;
}
